div.thumbholder {
	float: left;
	vertical-align: bottom;
	width: 220px;
	height: 220px;
	margin: 3px;
}

#error {
	background-color: #FFD5D4;
	text-align: center;
}

#loading {
	float: left;
	clear: both;
}

#more {
	font-weight: bold;
	text-align: center;
	clear: both;
}
