RewriteEngine on
RewriteRule ^instance/([a-zA-Z0-9]+)_r([0-9]+)$ index.php?title=Pathway:$1&oldid=$2
RewriteRule ^instance/([a-zA-Z0-9]+)$ index.php?title=Pathway:$1
RewriteCond %{HTTP_HOST}  ^wikipathways\.org$ [NC]
RewriteRule ^(.*) https://www.wikipathways.org/$1 [L,R]
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*) https://%{SERVER_NAME}/$1 [L,R]
