Options +FollowSymlinks 

RewriteEngine on

#RewriteRule ^/([a-zA-Z0-9]+)?$ index.php?method=listOrganisms [R,L]
#RewriteRule / http://webservice.wikipathways.org/ui/dist/ [R]


RewriteCond %{REQUEST_URI}%{QUERY_STRING} ^/wpi/webservice2.0/index.php$
#RewriteCond %{THE_REQUEST} ^/wpi/webservicetest/index.php$
RewriteRule ^(.*)$ /wpi/webservice2.0/ui/dist/ [NC,L]

RewriteCond %{QUERY_STRING} ^(.*)$
##RewriteRule ^([a-zA-Z]+)$ /wpi/webservicetest/index.php?method=$1&%1 [L]
##RewriteRule ^webservice.php/([a-zA-Z]+)$ /wpi/webservicetest/index.php?method=$1&%1 [L]
RewriteRule ^([a-zA-Z]+)$ "/wpi/webservice2.0/index.php?method=$1&%1" [L]



#RewriteRule ^index.php$ ui/dist/
#RewriteRule ^/wpi/webservicetest/index.html$  /wpi/webservicetest/index.html  [R]
#RewriteRule ^/(.+)\?(.+)$ index.php?method=$1&$2 [L]
#RewriteRule ^/wpi/(.+)/(.+)$ index.php [L]

