.pathvisiojs-diffviewer.pathvisiojs-diffviewer-header {
	border: 0;
	height: auto;
	text-align: center;
}

#contentSub {
	display: none;
}

.diffview-nav {
	padding: 10px 0;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}
