RewriteEngine on


#RewriteRule ^/([a-zA-Z0-9]+)?$ index.php?method=listOrganisms [R,L]

#comentei
RewriteCond %{QUERY_STRING} ^(.*)$

#RewriteRule ^([a-zA-Z]+)$ /wpi/webservicetest/index.php?method=$1&%1 [L]
#RewriteRule ^webservice.php/([a-zA-Z]+)$ /wpi/webservicetest/index.php?method=$1&%1 [L]

#comentei
RewriteRule ^([a-zA-Z]+)$ /wpi/webservicetest/index.php?method=$1&%1 [L]

#RewriteRule ^/wpi/webservicetest/index.html$  /wpi/webservicetest/index.html  [R]
#RewriteRule ^/(.+)\?(.+)$ index.php?method=$1&$2 [L]
#RewriteRule ^/wpi/(.+)/(.+)$ index.php [L]

